<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <%= form_for(@post) do |f| %>
    <%= render 'shared/error_messages' %>
    <%= f.hidden_field :author, value: current_user.name %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %><br>
    <%= f.submit 'Post', class: "btn btn-primary"  %>
  <% end %>
  </div>
</div>